node_modules

dist
bin/**
volumes/cache
volumes/logs
volumes/input

bin/**/cache/*
bin/**/logs/*
bin/**/input/*
cache/*

docs/**/*.zip
docs/arquivos**
docs/cursor

.env

# Testes
coverage
volumes/.test-temp
volumes/.test-temp/**

volumes/test/**
!volumes/test/TEST_*.*